#contents {
  margin-left:3em;
  line-height:1.5em;
  width:70%;
}
p {
  text-align:justify;
  text-indent:1em;
}
p.mid-flow{
  text-indent:0em;
}
h1 {
  padding:0.5em 0em 0.5em 0.5em;
  border-width:0px 0px 1px 5px;
  border-style:solid;
  border-color:silver;
  line-height:1.25em;
}
h2 {
  padding:0.5em 0em 0.5em 0.5em;
  border-width:3px 0px 0px 0px;
  border-style:solid;
  border-color:silver;
}
img{
  border:none;
}
#menu {
  float:right;
  clear:right;
  width:16em;
  background:#eee;
  padding:10px;
  margin-left:1em;
  margin-right:1em;
  font-size:0.85em;
}
#menu dt {
 margin: 0 0 0.8em;
 width: 7.5em;
 border-left: solid 8px #aaa;
 padding-left: 5px;
 white-space: nowrap;
}
#menu p {
  text-align:justify;
  text-indent:0px;
}
.clear{
  clear:both;
}
.topspace {
  margin-top:2em;
}
.external:after {
  content:url('link-icon_external.gif');
}
.code {
  padding-left:1em;
  padding-right:1em;
  border-style:dashed;
  border-color:silver;
  border-width:1px;
}
.warn {
  color:red;
  font-weight:bold;
}
.dt-title {
  font-weight:bold;
}
.close_item {
  display:inline;
}
.close_item:after{
  content:'/';
}
.last_close_item{
  display:inline;
}
.nomark {
  list-style-type:none;
}
.hrseperator {
  width:30%;
  color:silver;
  margin-left:0em;
  margin-right:auto;
}
blockquote {
  border-style:solid;
  border-width:1px;
  border-color:silver;
  padding:4px;
}
.footnote{
  margin-left:8em;
  margin-right:8em;
  color:#777;
  font-size:0.75em;
}
.mid-footnote{
  font-size:0.75em;
  color:#777;
}
.unused{
  color:#777;
}
.footdate{
  text-align:right;
}
.twitter-box {
  border-style:solid;
  border-width:1px;
  border-color:#dddddd!important;
  margin-left:4em;
  padding:4px;
}
.twitter-user {
  width:48px;
  margin-top:1em;
  margin-right:0.5em;
  float:left;
}
.twitter-content {
  float:left;
  margin-right:0.5em;
  width:90%;
}
.twitter-text{
  text-indent:0em!important;
  line-height:1!important;
}
.twitter-info {
  text-indent:0em!important;
  color:silver!important;
  font-size:0.75em;
  line-height:0!important;
}
.twitter-info-link {
  color:silver!important;
}
.img-left {
  float:left;
}
.img-clear {
  clear:both;
}
.dt-dialogue {
  float:left;
  font-weight:bold;
}
.dt-dialogue:after {
  content:'：';
}
.dd-dialogue {
  margin-left:6em;
}
.footer {
  list-style-type:none;
  line-height:1.5em;
}
